#keyboard-screen {
	--squircle-spacing: calc(0.15 * var(--squircle-diagonal));
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 25px 30px;
	outline: none;
	z-index: 5000;
}

#layout-content {
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}



/* Layouts */
[data-current-orient="horiz"] {align-items: center;}
[data-current-orient="horiz"] #keyboard-input {width: calc(7 * var(--squircle-diagonal) + 6 * var(--squircle-spacing));}

[data-current-orient="vert"] {align-items: flex-start;}
[data-current-orient="vert"] #keyboard-input {width: 35vw;}

[data-current-iso="eng"][data-current-orient="horiz"] {--squircle-diagonal: 10.5vw;}
[data-current-iso="eng"][data-current-orient="vert"]  {--squircle-diagonal: 9vw;}

[data-current-iso="heb"][data-current-orient="horiz"] {--squircle-diagonal: 10.5vw;}
[data-current-iso="heb"][data-current-orient="vert"]  {--squircle-diagonal: 9vw;}

[data-current-iso="jpn"][data-current-orient="horiz"] {--squircle-diagonal: 9.5vw;}
[data-current-iso="jpn"][data-current-orient="vert"]  {--squircle-diagonal: 9vw;}



/* Input */
#keyboard-input {
	--padding: 0.6em;
	align-items: center;
	height: 10vh;
	font-size: 5vh;
	font-weight: 200;
	padding-right: var(--padding);
	background: var(--clr-ui1);
	border: var(--border-width) solid var(--clr-ui2);
	overflow: hidden;
}

#keyboard-input-text {
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	padding-left: var(--padding);
	white-space: nowrap;
	overflow: hidden;
}

#keyboard-input-cursor {
	width: var(--border-width);
	height: 65%;
	background: var(--clr-ui2);
	animation: blink 0.8s infinite;
}

@keyframes blink {
	0%   {opacity: 0;}
	50%  {opacity: 1;}
	100% {opacity: 0;}
}



/* Keyboard */
#keyboard {
	--bg: var(--clr-ui1);
	--fc: var(--clr-ui2);
	--char-spacing: calc(0.55 * var(--squircle-diagonal));
	--bump: calc(0.1 * var(--squircle-diagonal));
	/* --bump: 0; */
	position: relative;
	flex-direction: column;
	align-items: center;
}

.squircle-row + .squircle-row {margin-top: calc(-1 * (var(--squircle-diagonal) / 3 - sqrt(2) * var(--squircle-spacing)));}

.squircle {
	position: relative;
	justify-content: center;
	align-items: center;
	width: calc(var(--squircle-diagonal) + var(--squircle-spacing));
	height: var(--squircle-diagonal);
}

.squircle * {transition: all 0.03s;}

.squircle > * {
	position: absolute;
	width: var(--squircle-diagonal);
	height: var(--squircle-diagonal);
}

.squircle-back, .squircle-front {
	width: 100%;
	height: 100%;
	overflow: visible;
}

.squircle-back {z-index: 5001;}
.squircle-back .squircle-path { 
	fill: var(--clr-ui2);
}

.squircle-front-container {
	position: relative;
	justify-content: center;
	align-items: center;
}

.squircle-front {z-index: 5001;}
.squircle-front .squircle-path {
	fill: var(--bg);
	stroke: var(--fc);
	stroke-width: calc(2 * var(--border-width));
	pointer-events: all;
}

.squircle-quad-path {
	fill: var(--bg);
}

.squircle-quad {
	position: absolute;
	width: calc(0.23 * var(--squircle-diagonal));
	height: calc(0.23 * var(--squircle-diagonal));
	overflow: hidden;
	z-index: 5003;
}
.squircle-quad svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.squircle-quad path {fill: var(--fc);}

.squircle-quad[data-dir="up"] {margin-bottom: var(--char-spacing);}
.squircle-quad[data-dir="left"] {margin-right: var(--char-spacing);}
.squircle-quad[data-dir="right"] {margin-left: var(--char-spacing);}
.squircle-quad[data-dir="down"] {margin-top: var(--char-spacing);}

[data-ctrl="space"] {height: calc(0.18 * var(--squircle-diagonal));}
[data-ctrl="backspace"] {height: calc(0.22 * var(--squircle-diagonal));}
[data-ctrl] path {
	fill: transparent;
	stroke: var(--fc);
	stroke-width: var(--border-width);
	stroke-linecap: none;
}



/* States */
[data-case][data-char-index] {opacity: 0;}
[data-current-case="0"] [data-current-char-index="0"] [data-case="0"][data-char-index="0"],
[data-current-case="0"] [data-current-char-index="1"] [data-case="0"][data-char-index="1"],
[data-current-case="0"] [data-current-char-index="2"] [data-case="0"][data-char-index="2"],
[data-current-case="1"] [data-current-char-index="0"] [data-case="1"][data-char-index="0"],
[data-current-case="1"] [data-current-char-index="1"] [data-case="1"][data-char-index="1"],
[data-current-case="1"] [data-current-char-index="2"] [data-case="1"][data-char-index="2"]
{opacity: 1;}

.current-squircle {
	--bg: var(--clr-ui3) !important;
	transform: scale(1.07);
}

[data-bump-dir="left"] .squircle-front-container {margin-right: var(--bump);}
[data-bump-dir="right"] .squircle-front-container {margin-left: var(--bump);}
[data-bump-dir="up"] .squircle-front-container {margin-bottom: var(--bump);}
[data-bump-dir="down"] .squircle-front-container {margin-top: var(--bump);}

[data-bump-dir="left"] [data-dir="left"],
[data-bump-dir="right"] [data-dir="right"],
[data-bump-dir="up"] [data-dir="up"],
[data-bump-dir="down"] [data-dir="down"] {
	--bg: var(--clr-ui2);
	--fc: var(--clr-ui3);
}



/* Button info */
#btn-info-container {
	width: 100%;
}

.btn-info {
	justify-content: center;
	align-items: center;
	font-size: 1.7vw;
}
.btn-info + .btn-info {margin-left: 1.3em;}

.btn-info-btn {margin-right: 0.4em;}

#btn-info-dpad {
	position: relative;
	width: 1.2em;
	height: 1.2em;
}
#btn-info-dpad div {
	position: absolute;
	width: 0.4em;
	height: 0.4em;
	border: var(--border-width) solid var(--clr-ui2);
	border-radius: 50%;
}
#btn-info-dpad div:nth-child(1) {
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
#btn-info-dpad div:nth-child(2) {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
#btn-info-dpad div:nth-child(3) {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
#btn-info-dpad div:nth-child(4) {
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

#btn-info-center {
	width: 1.1em;
	height: 1.1em;
	background: var(--clr-center);
	border: var(--border-width) solid var(--clr-ui2);
	border-radius: 50%;
}

#btn-info-back {
	width: 1.1em;
	height: 1.1em;
	background: var(--clr-back);
	border: var(--border-width) solid var(--clr-ui2);
	border-radius: 50%;
}