/* Noto Sans */
@font-face {
	font-family: "Noto Sans";
	src: url("NotoSans/variable/NotoSans-VariableFont_wdth,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans";
	src: url("NotoSans/variable/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: italic;
}



/* Noto Sans Hebrew */
@font-face {
	font-family: "Noto Sans Hebrew";
	src: url("NotoSansHebrew/variable/NotoSansHebrew-VariableFont_wdth,wght.ttf") format("truetype-variations");
	font-weight: 100 900;
	font-style: normal;
}